.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body { margin: 0; }

.header{
  height: 20vmin;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
  border-color: rgb(218, 218, 218);
}

.body-container {
  height: 90vmin;
  background-color: rgb(249, 204, 82);
  margin: 0%;
  text-align: center;
}

.bottom-container {
  height:10vmin;
}

.title{
  color: rgb(142, 142, 142);
  font-size: 50px;
  line-height: 350%;
}